# Entornos virtuales de Python
.venv/
venv/
ENV/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de log
*.log
*.txt

# Directorio de capturas
capturas/

# Archivos de instalación y SDK
*.zip

# Archivos específicos del sistema operativo
.DS_Store
Thumbs.db